{:nlw.components.server/server {:config               {:host      "0.0.0.0"
                                                       :port      #profile {:prod 80
                                                                            :test 3000
                                                                            :dev  3000}
                                                       :routes    [#resolve nlw.controllers.hello/routes]
                                                       :file-path "resources/static/"
                                                       :type      :immutant
                                                       :join?     #profile {:dev  false
                                                                            :test false
                                                                            :prod true}}
                                :default-interceptors [{:type  :map
                                                        :value #resolve nlw.interceptors.json/json-interception}]}}
