{:nlw.components.migration/migration {:path "resources/migrations"}
 :nlw.components.database/postgres   {:config     {:dbtype   "postgresql"
                                                   :dbname   "postgres"
                                                   :host     #or [#env DB_HOST "localhost"]
                                                   :port     #long #or [#env DB_PORT "5234"]
                                                   :user     "nlw"
                                                   :password "next_level"}
                                      :migrations #ig/ref :nlw.components.migration/migration}

 :nlw.components.pedestal/service {:config {:host      "0.0.0.0"
                                            :port      #profile {:prod 80
                                                                 :test 3000
                                                                 :dev  3000}
                                            :routes    [nlw.controllers.hello/routes
                                                        nlw.controllers.point/routes
                                                        nlw.controllers.items/routes]
                                            :file-path "resources/static/"
                                            :type      :immutant
                                            :join?     #profile {:dev  false
                                                                 :test false
                                                                 :prod true}}

                                   :default-interceptors [{:type  :map
                                                           :value nlw.interceptors.json/json-interception}
                                                          {:type  :fn
                                                           :value nlw.interceptors.database/postgres-interceptor
                                                           :args  [#ig/ref :nlw.components.database/postgres]}]}
 :nlw.components.pedestal/server {:service #ig/ref :nlw.components.pedestal/service}}
