{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure                {:mvn/version "1.10.1"}
  seancorfield/next.jdbc             {:mvn/version "1.0.462"}
  nilenso/honeysql-postgres          {:mvn/version "0.2.6"}
  org.postgresql/postgresql          {:mvn/version "42.2.13"}
  honeysql                           {:mvn/version "1.0.444"}
  io.pedestal/pedestal.service       {:mvn/version "0.5.8"}
  io.pedestal/pedestal.service-tools {:mvn/version "0.5.8"}
  io.pedestal/pedestal.immutant      {:mvn/version "0.5.8"}
  cheshire                           {:mvn/version "5.10.0"}
  aero                               {:mvn/version "1.1.6"}
  medley/medley                      {:mvn/version "1.3.0"}
  integrant                          {:mvn/version "0.8.0"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {integrant/repl {:mvn/version "0.3.1"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha        {:mvn/version "1.0.632"}
                 nubank/matcher-combinators {:mvn/version "2.1.0"}
                 clj-http/clj-http          {:mvn/version "3.10.1"}}}
  :build {:extra-paths ["build"]
          :extra-deps {badigeon/badigeon {:mvn/version "0.0.13"}}
          :main-opts ["-m" "release"]}}}
