{:up   {:create-table [:nlw.t-collecttable-item],
        :with-columns
        [[[:id :uuid #sql/call [:primary-key]]
          [:title :varchar :not :null]
          [:image :varchar :not :null]]]}
 :down {:drop-table [:nlw.t-collecttable-item]}}
